{% extends 'base.html.twig' %}

{% block title %}EmpTitle index{% endblock %}

{% block body %}
    <h1>EmpTitle index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fonction</th>
                <th>Employe</th>
                <th>FromDate</th>
                <th>ToDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for emp_title in emp_titles %}
            <tr>
                <td>{{ emp_title.id }}</td>
                <td>{{ emp_title.title.title }}</td>
                <td>{{ emp_title.employee.firstName }} {{ emp_title.employee.lastName }}</td>
                <td>{{ emp_title.fromDate ? emp_title.fromDate|date('Y-m-d') : '' }}</td>
                <td>{{ emp_title.toDate ? emp_title.toDate|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_emp_title_show', {'id': emp_title.id}) }}">show</a>
                    <a href="{{ path('app_emp_title_edit', {'id': emp_title.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_emp_title_new') }}">Create new</a>
{% endblock %}
