{% extends 'base.html.twig' %}

{% block title %}Employees Demands{% endblock %}

{% block body %}
    <h1>Demands</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Employee</th>
                <th>Type</th>
                <th>About</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for demand in demands %}
            
            <tr>
                <td>{{ demand.id }}</td>
                <td>{{ demand.employe.id }}</td>
                <td>{{ demand.type }}</td>
                <td>{{ demand.about }}</td>
                <td>{{ demand.status is not null ? (demand.status == 1 ? 'Accepted' : 'Refused') : 'En cours' }}</td>
                
                    {% if is_granted('ROLE_ADMIN') %}
                        <td class="d-flex">
                            <form class="form-inline" action="{{ path('app_demand_update_status', {'id': demand.id, 'status': 1}) }}" method="post">
                                <button class="btn btn-success" type="submit"><i class="fas fa-check"></i></button>
                            </form>
                            <form class="form-inline" action="{{ path('app_demand_update_status', {'id': demand.id, 'status': 0}) }}" method="post">
                                <button class="btn btn-danger" type="submit"><i class="fas fa-times"></i></button>
                            </form>
                        {# <a href="{{ path('app_demand_show', {'id': demand.id}) }}">show</a> #}
                        {# <a href="{{ path('app_demand_edit', {'id': demand.id}) }}">edit</a> #}
                        </td>
                    {% endif %}
                    
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    {{ include ('demand/_delete_all_form.html.twig') }}

    {# <a href="{{ path('app_demand_new') }}">Create new</a> #}
{% endblock %}
