{% block title %}<h1>New Application for <strong>{{ dept_title.title.title }}</strong></h1>{% endblock %}

{% block body %}
    

    <p>Applicant's name: {{ data.firstName }} {{ data.lastName }}</p>

    <p>Applicant's email address: {{ data.email }}</p>

    <p>Applicant's phone number: {{ data.phone }}</p>

    

{% endblock %}