{% extends 'base.html.twig' %}

{% block title %}DeptTitle index{% endblock %}

{% block body %}
    <h1>Postes Vacants</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Departement</th>
                <th>Fonctions</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dept_title in dept_titles %}
            <tr>
                <td>{{ dept_title.id }}</td>
                <td>{{ dept_title.department.deptName }}</td>
                <td>{{ dept_title.title.title }}</td>
                <td>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_dept_title_show', {'id': dept_title.id}) }}">show</a>
                    <a href="{{ path('app_dept_title_edit', {'id': dept_title.id}) }}">edit</a>
                    {% endif %}
                    <a class = "btn btn-primary" href="{{ path('app_dept_title_apply', {'id': dept_title.id}) }}">Apply</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}

        <div>
        {% for message in app.flashes('success') %}
            <div class="flash-notice">
                {{ message }}
            </div>
        {% endfor %}

        </div>
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_dept_title_new') }}">Create new</a>
    {% endif %}
{% endblock %}
