{% extends 'base.html.twig' %}

{% block title %}Employee index{% endblock %}

{% block body %}
    <h1>Employee index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>BirthDate</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Gender</th>
                <th>HireDate</th>
                <th>Photo</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for employee in pagination %}
            {# {{dump(employee)}} #}
            <tr>
                <td>{{ employee.id }}</td>
                <td>{{ employee.birthDate ? employee.birthDate|date('Y-m-d') : '' }}</td>
                <td>{{ employee.firstName }}</td>
                <td>{{ employee.lastName }}</td>
                <td>{{ employee.gender.value}}</td>
                <td>{{ employee.hireDate ? employee.hireDate|date('Y-m-d') : '' }}</td>
                <td>{% if employee.getPhoto() %}
                        <img src="{{ asset('uploads/photos/' ~ employee.id ~ '/' ~ employee.photo()) }}" alt="photo" width="100">
                        
                        {% if app.user.id == employee.id %}
                        <a href="{{ asset('uploads/photos/' ~ employee.id ~ '/' ~ employee.photo()) }}" download>Download</a>
                        {% endif %}
                    {% else %}
                        <p>Aucune photo disponible</p>
                    {% endif %}
                </td>
                <td>{{ employee.email }}</td>
                <td>
                    <a href="{{ path('app_employee_show', {'id': employee.id}) }}">show</a>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_employee_edit', {'id': employee.id}) }}">edit</a>
                {% endif %}
                
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% if is_granted('ROLE_ADMIN') %} {# ou {{ 'ROLE_ADMIN' in app.user.roles }}#}
    <a href="{{ path('app_employee_new') }}">Create new</a>
{% endif %}
    <!-- Pagination Links -->
    <div class="pagination">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
