{% extends 'base.html.twig' %}

{% block title %}Employee{% endblock %}

{% block body %}
    <h1>{{ employee.firstName }} {{ employee.lastName }}</h1>
     <div>
        <a class="btn btn-primary" style="color: white;" href="{{ path('app_employee_edit', {'id': employee.id}) }}">Edit profil</a>
    </div> 
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ employee.id }}</td>
            </tr>
            <tr>
                <th>BirthDate</th>
                <td>{{ employee.birthDate ? employee.birthDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ employee.firstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ employee.lastName }}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ employee.gender.value }}</td>
            </tr>
            <tr>
                <th>HireDate</th>
                <td>{{ employee.hireDate ? employee.hireDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td> <img src="{{ asset('uploads/photos/' ~ employee.id ~ '/' ~ employee.photo) }}" alt="photo" width="100" height="100">
                {% if app.user.id == employee.id %}
                    <a href="{{ asset('uploads/photos/' ~ employee.id ~ '/' ~ employee.photo()) }}" download>Download</a>
                {% endif %}
                </td>
                
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ employee.email }}</td>
            </tr>
        </tbody>

       
    </table>
            <h1>My demands</h1>
            <a class="btn btn-primary" style="color: white;" href="{{ path('app_demand_new', {'id': employee.id}) }}">New Demand</a>
            
               
                <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Employee</th>
                        <th>Type</th>
                        <th>Status</th>
                        <th>About</th>
                        
                        <th>Actions</th>
                        
                    </tr>
                </thead>
                <tbody>
                
                {% for demand in employee.demands %}
                    <tr>
                        <td>{{ demand.id }}</td>
                        <td>{{ demand.employe.id }}</td>
                        <td>{{ demand.type}}</td>
                        <td>{{ demand.status is not null ? (demand.status == 1 ? 'Accepted' : 'Refused') : 'En cours' }}</td>
                        <td>{{ demand.about }}</td>
                        
                        <td class="d-flex">
                            <a href="{{ path('app_demand_edit', {'id': demand.id}) }}" class="btn btn-primary">Edit</a>
                            {{ include('demand/_delete_form.html.twig') }}
                        </td>                        
                    <tr>
                </tbody>
            {% endfor %}
            </table>


    <a href="{{ path('app_employee_index') }}">Back to list</a>

{% if is_granted('ROLE_ADMIN') %} {# ou {{ 'ROLE_ADMIN' in app.user.roles }}#}
    <a href="{{ path('app_employee_edit', {'id': employee.id}) }}">edit</a>
    {{ include('employee/_delete_form.html.twig') }}
{% endif %}
    
{% endblock %}
