<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
        {{ ux_controller_link_tags() }}
        <!-- Bootstrap CSS -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    {% endblock %}
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('app_home') }}
">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_department_index') }}">Départements</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_employee_index') }}">Employées</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_women_at_work') }}">Women at work</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_partner_index') }}">Partenaires</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_dept_title_index') }}">Offres d'emploi</a>
            </li>
            {% if not app.user %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_login') }}">Se connecter</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_profile') }}">Mon profil</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/logout">Se deconnecter</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>

    <div>
    {% if app.user %}
    Bonjour {{ app.user.firstName }}
    {% endif %}
    </div>


{% block body %}{% endblock %}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>
